@media (max-width: 426px) {
  .offset-m-1 {
    margin-left: 8.33333%;
  }

  .push-m-1 {
    position: relative;
    left: 8.33333%;
  }

  .pull-m-1 {
    position: relative;
    right: 8.33333%;
  }

  .offset-m-2 {
    margin-left: 16.66667%;
  }

  .push-m-2 {
    position: relative;
    left: 16.66667%;
  }

  .pull-m-2 {
    position: relative;
    right: 16.66667%;
  }

  .offset-m-3 {
    margin-left: 25%;
  }

  .push-m-3 {
    position: relative;
    left: 25%;
  }

  .pull-m-3 {
    position: relative;
    right: 25%;
  }

  .offset-m-4 {
    margin-left: 33.33333%;
  }

  .push-m-4 {
    position: relative;
    left: 33.33333%;
  }

  .pull-m-4 {
    position: relative;
    right: 33.33333%;
  }

  .offset-m-5 {
    margin-left: 41.66667%;
  }

  .push-m-5 {
    position: relative;
    left: 41.66667%;
  }

  .pull-m-5 {
    position: relative;
    right: 41.66667%;
  }

  .offset-m-6 {
    margin-left: 50%;
  }

  .push-m-6 {
    position: relative;
    left: 50%;
  }

  .pull-m-6 {
    position: relative;
    right: 50%;
  }

  .offset-m-7 {
    margin-left: 58.33333%;
  }

  .push-m-7 {
    position: relative;
    left: 58.33333%;
  }

  .pull-m-7 {
    position: relative;
    right: 58.33333%;
  }

  .offset-m-8 {
    margin-left: 66.66667%;
  }

  .push-m-8 {
    position: relative;
    left: 66.66667%;
  }

  .pull-m-8 {
    position: relative;
    right: 66.66667%;
  }

  .offset-m-9 {
    margin-left: 75%;
  }

  .push-m-9 {
    position: relative;
    left: 75%;
  }

  .pull-m-9 {
    position: relative;
    right: 75%;
  }

  .offset-m-10 {
    margin-left: 83.33333%;
  }

  .push-m-10 {
    position: relative;
    left: 83.33333%;
  }

  .pull-m-10 {
    position: relative;
    right: 83.33333%;
  }

  .offset-m-11 {
    margin-left: 91.66667%;
  }

  .push-m-11 {
    position: relative;
    left: 91.66667%;
  }

  .pull-m-11 {
    position: relative;
    right: 91.66667%;
  }

  .offset-m-12 {
    margin-left: 100%;
  }

  .push-m-12 {
    position: relative;
    left: 100%;
  }

  .pull-m-12 {
    position: relative;
    right: 100%;
  }
}
.span-m-1 {
  width: 8.33333%;
}

.span-m-2 {
  width: 16.66667%;
}

.span-m-3 {
  width: 25%;
}

.span-m-4 {
  width: 33.33333%;
}

.span-m-5 {
  width: 41.66667%;
}

.span-m-6 {
  width: 50%;
}

.span-m-7 {
  width: 58.33333%;
}

.span-m-8 {
  width: 66.66667%;
}

.span-m-9 {
  width: 75%;
}

.span-m-10 {
  width: 83.33333%;
}

.span-m-11 {
  width: 91.66667%;
}

.span-m-12 {
  width: 100%;
}

@media (min-width: 426px) and (max-width: 1023px) {
  .offset-t-1 {
    margin-left: 8.33333%;
  }

  .push-t-1 {
    position: relative;
    left: 8.33333%;
  }

  .pull-t-1 {
    position: relative;
    right: 8.33333%;
  }

  .offset-t-2 {
    margin-left: 16.66667%;
  }

  .push-t-2 {
    position: relative;
    left: 16.66667%;
  }

  .pull-t-2 {
    position: relative;
    right: 16.66667%;
  }

  .offset-t-3 {
    margin-left: 25%;
  }

  .push-t-3 {
    position: relative;
    left: 25%;
  }

  .pull-t-3 {
    position: relative;
    right: 25%;
  }

  .offset-t-4 {
    margin-left: 33.33333%;
  }

  .push-t-4 {
    position: relative;
    left: 33.33333%;
  }

  .pull-t-4 {
    position: relative;
    right: 33.33333%;
  }

  .offset-t-5 {
    margin-left: 41.66667%;
  }

  .push-t-5 {
    position: relative;
    left: 41.66667%;
  }

  .pull-t-5 {
    position: relative;
    right: 41.66667%;
  }

  .offset-t-6 {
    margin-left: 50%;
  }

  .push-t-6 {
    position: relative;
    left: 50%;
  }

  .pull-t-6 {
    position: relative;
    right: 50%;
  }

  .offset-t-7 {
    margin-left: 58.33333%;
  }

  .push-t-7 {
    position: relative;
    left: 58.33333%;
  }

  .pull-t-7 {
    position: relative;
    right: 58.33333%;
  }

  .offset-t-8 {
    margin-left: 66.66667%;
  }

  .push-t-8 {
    position: relative;
    left: 66.66667%;
  }

  .pull-t-8 {
    position: relative;
    right: 66.66667%;
  }

  .offset-t-9 {
    margin-left: 75%;
  }

  .push-t-9 {
    position: relative;
    left: 75%;
  }

  .pull-t-9 {
    position: relative;
    right: 75%;
  }

  .offset-t-10 {
    margin-left: 83.33333%;
  }

  .push-t-10 {
    position: relative;
    left: 83.33333%;
  }

  .pull-t-10 {
    position: relative;
    right: 83.33333%;
  }

  .offset-t-11 {
    margin-left: 91.66667%;
  }

  .push-t-11 {
    position: relative;
    left: 91.66667%;
  }

  .pull-t-11 {
    position: relative;
    right: 91.66667%;
  }

  .offset-t-12 {
    margin-left: 100%;
  }

  .push-t-12 {
    position: relative;
    left: 100%;
  }

  .pull-t-12 {
    position: relative;
    right: 100%;
  }
}
@media (min-width: 426px) {
  .span-t-1 {
    width: 8.33333%;
  }

  .span-t-2 {
    width: 16.66667%;
  }

  .span-t-3 {
    width: 25%;
  }

  .span-t-4 {
    width: 33.33333%;
  }

  .span-t-5 {
    width: 41.66667%;
  }

  .span-t-6 {
    width: 50%;
  }

  .span-t-7 {
    width: 58.33333%;
  }

  .span-t-8 {
    width: 66.66667%;
  }

  .span-t-9 {
    width: 75%;
  }

  .span-t-10 {
    width: 83.33333%;
  }

  .span-t-11 {
    width: 91.66667%;
  }

  .span-t-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 990px;
  }

  .offset-d-1 {
    margin-left: 8.33333%;
  }

  .push-d-1 {
    position: relative;
    left: 8.33333%;
  }

  .pull-d-1 {
    position: relative;
    right: 8.33333%;
  }

  .span-d-1 {
    width: 8.33333%;
  }

  .offset-d-2 {
    margin-left: 16.66667%;
  }

  .push-d-2 {
    position: relative;
    left: 16.66667%;
  }

  .pull-d-2 {
    position: relative;
    right: 16.66667%;
  }

  .span-d-2 {
    width: 16.66667%;
  }

  .offset-d-3 {
    margin-left: 25%;
  }

  .push-d-3 {
    position: relative;
    left: 25%;
  }

  .pull-d-3 {
    position: relative;
    right: 25%;
  }

  .span-d-3 {
    width: 25%;
  }

  .offset-d-4 {
    margin-left: 33.33333%;
  }

  .push-d-4 {
    position: relative;
    left: 33.33333%;
  }

  .pull-d-4 {
    position: relative;
    right: 33.33333%;
  }

  .span-d-4 {
    width: 33.33333%;
  }

  .offset-d-5 {
    margin-left: 41.66667%;
  }

  .push-d-5 {
    position: relative;
    left: 41.66667%;
  }

  .pull-d-5 {
    position: relative;
    right: 41.66667%;
  }

  .span-d-5 {
    width: 41.66667%;
  }

  .offset-d-6 {
    margin-left: 50%;
  }

  .push-d-6 {
    position: relative;
    left: 50%;
  }

  .pull-d-6 {
    position: relative;
    right: 50%;
  }

  .span-d-6 {
    width: 50%;
  }

  .offset-d-7 {
    margin-left: 58.33333%;
  }

  .push-d-7 {
    position: relative;
    left: 58.33333%;
  }

  .pull-d-7 {
    position: relative;
    right: 58.33333%;
  }

  .span-d-7 {
    width: 58.33333%;
  }

  .offset-d-8 {
    margin-left: 66.66667%;
  }

  .push-d-8 {
    position: relative;
    left: 66.66667%;
  }

  .pull-d-8 {
    position: relative;
    right: 66.66667%;
  }

  .span-d-8 {
    width: 66.66667%;
  }

  .offset-d-9 {
    margin-left: 75%;
  }

  .push-d-9 {
    position: relative;
    left: 75%;
  }

  .pull-d-9 {
    position: relative;
    right: 75%;
  }

  .span-d-9 {
    width: 75%;
  }

  .offset-d-10 {
    margin-left: 83.33333%;
  }

  .push-d-10 {
    position: relative;
    left: 83.33333%;
  }

  .pull-d-10 {
    position: relative;
    right: 83.33333%;
  }

  .span-d-10 {
    width: 83.33333%;
  }

  .offset-d-11 {
    margin-left: 91.66667%;
  }

  .push-d-11 {
    position: relative;
    left: 91.66667%;
  }

  .pull-d-11 {
    position: relative;
    right: 91.66667%;
  }

  .span-d-11 {
    width: 91.66667%;
  }

  .offset-d-12 {
    margin-left: 100%;
  }

  .push-d-12 {
    position: relative;
    left: 100%;
  }

  .pull-d-12 {
    position: relative;
    right: 100%;
  }

  .span-d-12 {
    width: 100%;
  }
}
